################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.db
*.opendb
*.ipch
/coroutines/Debug/coroutines.tlog
/coroutines/Debug
/Debug
/NumericalAnalysis/Debug
